<form action="{{ path('submit_form') }}" method="POST">
    <label for="nom_patient">Name:</label>
    <input type="text" name="nom_patient" id="nom_patient" required>


    <button type="submit">Send</button>
</form>